html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins',sans-serif;
    margin:0;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange
}

section {
    display: flex;
    gap: 10rem;
    padding: 0 2rem;
    margin-bottom: 10rem;

}

section >* {
    flex: 1 1 50%;
}

section:not(:last-child) {
    margin-bottom: 10rem;
}

.hero , .dream-big {
    align-items: center;
    font-size: 1.6rem;
    background-repeat: no-repeat;
}

.hero {
    background-image: url(./images/top-banner.png);
}
.dream-big {
    background-image: url(./images/dream-bg.png);
    background-position: right;
}

.hero div img , .dream-big div img{
    width: 100%;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: .5rem 4rem;
    background-image: linear-gradient(to right bottom, rgb(252,
        190,
        3),rgb(252,
            165,
            3));
    color: #fff;
    border-radius: .3rem;
}