html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins',sans-serif;
    margin:0;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange
}

.shadow {
    box-shadow: 10px 10px 40px rgba(22, 22, 181, 0.488);
}

.blue-border {
    border-left: 10px solid blue;
}

.orange-border {
    border-left: 10px solid orange;
}

.flex-container {
    display: flex;
    gap: 10rem;
    padding: 0 2rem;
    margin-bottom: 10rem;

}

.flex-container >* {
    flex: 1 1 50%;
}

section:not(:last-child) {
    margin-bottom: 10rem;
}

.hero , .dream-big, .experiences {
    align-items: center;
    font-size: 1.6rem;
    background-repeat: no-repeat;
}

.hero {
    background-image: url(./images/top-banner.png);
}
.dream-big {
    background-image: url(./images/dream-bg.png);
    background-position: right;
}

.hero div img , .dream-big div img{
    width: 100%;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: .5rem 4rem;
    background-image: linear-gradient(to right bottom, rgb(252,
        190,
        3),rgb(252,
            165,
            3));
    color: #fff;
    border-radius: .3rem;
}

.experiences {
    background-image: url(./images/exp-bg.png);
    background-position: left bottom;
    background-size: 6%;
}

.experiences > h1 {
    padding-left: 2rem;
}

.experience-item {
    padding-left: 2rem;
    border-radius: .3rem;
}

footer p {
    text-align: center;
    font-size: 2rem;
}